{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app.reset.password') }}
{% endblock %}

{% block body %}
    {{ include('include/_flash.message.html.twig') }}
    <div class="container">
        <div class="disconnect-form">
            <h1 class="hide-block media-title-two mt-4">Changer Mot de Passe</h1>

            {{ form_start(form, {'attr': {'class':'disconnect-form'}}) }}
            <h1 class="media-title mb-4">Changer Mot de Pase</h1>

            <div class="form-group">
                {{ form_row(form.username, {'label': 'Username', 'attr': {'placeholder': 'Username' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.confirm_password, {'label': 'Confirmation Mot de passe', 'attr': {'placeholder': 'Mot de passe' }}) }}
            </div>
            <div class="d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-success re-button">Réinitialiser</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
