{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ include('include/_flash.message.html.twig') }}
            <h1 class="hide-block media-title-two mt-4">Connexion</h1>

            <form method="post" class="login-form">
                <h1 class="media-title mb-4">Connexion</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputUsername">Nom</label>
                    <input type="text" value="" name="username" id="inputUsername" class="form-control"
                           placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputMail">Email</label>
                    <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control"
                           placeholder="Mail" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password" required>
                </div>
                <div class="form-group center-button">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-success re-button">Se Connecter</button>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="">
                        <input class="" id="ckb1" type="checkbox" name="remember">
                        <label class="" for="ckb1">
                            Se Souvenir de moi
                        </label>
                    </div>
                    <div>
                        <a href="{{ path('registration') }}" class="">
                            Inscription
                        </a>
                    </div>
                    <div>
                        <a href="" class="">
                            Mot de passe oublié?
                        </a>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}
