{% for trick in tricksToLoad %}
    {% for image in trick.trickImages %}
        {% if image.firstImage == true %}
            {% set firstimage = image.imageFileName %}

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 mt-2">
                <div class="card text-center m-auto mb-4">
                    <a href="{{ path('trick_action', {slug: trick.slug, id: trick.id}) }}">
                        <img class="card-img-top pt-1"
                             src={{ asset('uploads/trick_picture/' ~ firstimage) }}
                             alt="{{ image.altImage }}">
                    </a>
                    <div class="card-body">
                        <div class="card-footer d-flex flex-wrap">
                            {% if app.user %}
                            <div class="card-title">
                                <h5>
                                    <a href="{{ path('trick_action', {slug: trick.slug, id: trick.id}) }}">{{ trick.title }}</a>
                                </h5>
                                <div class="text-primary">{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : 'unpublished' }}</div>
                            </div>

                            <div class="card-buttons">
                                <div class="p-2">
                                    <a href="{{ path('trick_edit', {slug: trick.slug}) }}"><i class="fas fa-edit"></i></a>
                                </div>
                                <div class="">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete_trick_homepage">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <form method="POST" action="{{ path('edit_trick_delete', {slug: trick.slug}) }}" style="display: inline-block">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                        {{ include('include/_ajax_modal_delete.html.twig') }}
                                    </form>
                                </div>
                            </div>
                            {% else %}
                                <div class="card-title-no-user">
                                    <h5>
                                        <a href="{{ path('trick_action', {slug: trick.slug, id: trick.id}) }}">{{ trick.title }}</a>
                                    </h5>
                                    <div class="text-primary">{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : 'unpublished' }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
