{% for comment in commentsToLoad %}
    <li class="media">
        {% if comment.user.picturePath %}
            <img src="{{ asset('uploads/profilpicture/' ~ comment.user.picturePath) }}"
                 class="mr-3 rounded-circle embed-responsive d-inline-block p-1"
                 alt="photo profil utilisateur">
        {% else %}
            <img src="{{ asset('build/images/user/profil_picture_default.53651817.jpg') }}"
                 class="mr-3 rounded-circle embed-responsive d-inline-block p-1"
                 alt="photo profil default" style="width:80px; height:80px">
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading">
                {{ comment.user.name|capitalize }}
                <br>
                <small>
                    Le {{ comment.user.createdAt|date("d/m/Y") }}</a>
                </small>
            </h4>
            <p>{{ comment.content }}</p>
            {% if app.user and comment.user.name == app.user.name %}
                <span class="d-inline-block pb-3">

                <button class="btn btn-warning text-right p-0"><a href="" style="color: white">
                    Modifier</a>
                </button>
                <button class=" btn btn-danger text-right  p-0 pl-1 delete_modal" data-toggle="modal"
                    data-slug=""
                    data-message="Êtes-vous sûr de vouloir supprimer ce commentaire ?">Supprimer
                </button>
            </span>
            {% endif %}
        </div>

    </li>
{% endfor %}