{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('new.trick') }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="container trickblock">
                <h1 class="text-center mt-5">Nouveau Trick</h1>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.content, {'attr': {'rows' : '15'}}) }}
                        {{ form_row(form.groups) }}
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary text-center">Ajouter le Trick</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('include/access_denied.html.twig') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('new.trick') }}
    {{ encore_entry_script_tags('addpictures') }}
    {{ encore_entry_script_tags('addvideos') }}
    {{ encore_entry_script_tags('checkbox') }}
{% endblock %}